Requirement already satisfied: pandas in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.2.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\sample\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [1]:
import pandas

car_data = ["Honda","Hyundai","Nissan","Skoda","Volegswagan","Maruthi"]

datas = pandas.Series(car_data)

print(datas)

0          Honda
1        Hyundai
2         Nissan
3          Skoda
4    Volegswagan
5        Maruthi
dtype: object

In [4]:
print(datas[5])

import pandas as pd

data = pd.Series(car_data,index=[1,2,3,4,5,6])

print(data)

Maruthi
1          Honda
2        Hyundai
3         Nissan
4          Skoda
5    Volegswagan
6        Maruthi
dtype: object

DataFrames

In [7]:
import pandas as pd

dataset = {
    "Names" : ["Arjun","Ajith","Vijay"],
    "Movies": [250,62,69]
}

var = pd.DataFrame(dataset)

print(var)

   Names  Movies
0  Arjun     250
1  Ajith      62
2  Vijay      69

In [8]:
var = pd.DataFrame(dataset, index=["1","2","3"])
print(var)

   Names  Movies
1  Arjun     250
2  Ajith      62
3  Vijay      69

In [11]:
import pandas as pd

df = pd.read_csv('data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]